flow.json
[{"id":"fb2a659e.48cdb8","type":"tab","label":"Light Level","disabled":false,"info":""},{"id":"306f272b.3ad9e8","type":"tab","label":"Motion Detect","disabled":false,"info":""},{"id":"baef38c2.f31888","type":"tab","label":"RGB","disabled":false,"info":""},{"id":"e607a00f.774a1","type":"tab","label":"On Start","disabled":false,"info":""},{"id":"7faa5f0d.12eb8","type":"tab","label":"GPIO","disabled":false,"info":""},{"id":"1f4030a3.397f0f","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"5c2f38f2.eaec98","type":"aws-iot-device","z":"","name":"maystar","mode":"broker","clientId":"maystar","endpoint":"a3lybv9v64fkof.iot.us-west-2.amazonaws.com","awscerts":"/home/pi/aws"},{"id":"f5760f71.ad81b","type":"ads1x15","z":"fb2a659e.48cdb8","name":"Float","chip":"1","address":72,"i2c_dev":"/dev/i2c-1","channel":"0","samplesPerSecond":"128","progGainAmp":"4096","x":170,"y":380,"wires":[["90250222.201b2"]],"outputLabels":["float"]},{"id":"844ab700.53a1a8","type":"debug","z":"fb2a659e.48cdb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":340,"wires":[]},{"id":"9af03b6.bcadfc8","type":"inject","z":"fb2a659e.48cdb8","name":"Time Trigger","topic":"","payload":"0","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":300,"wires":[["f5760f71.ad81b"]]},{"id":"5516a8db.c58398","type":"smooth","z":"fb2a659e.48cdb8","name":"","property":"payload","action":"low","count":"15","round":"0","mult":"single","x":400,"y":360,"wires":[["c95abea9.19129"]]},{"id":"90250222.201b2","type":"function","z":"fb2a659e.48cdb8","name":"Normalize","func":"var i = msg.payload / -40.96 + 100;\nmsg.payload = Math.round(i);\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":300,"wires":[["5516a8db.c58398"]]},{"id":"c95abea9.19129","type":"rbe","z":"fb2a659e.48cdb8","name":"","func":"deadbandEq","gap":"4%","start":"","inout":"out","property":"payload","x":400,"y":420,"wires":[["9b15f1c2.136f","345f5bc4.28d864"]]},{"id":"9b15f1c2.136f","type":"template","z":"fb2a659e.48cdb8","name":"Shadowfied JSON","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"state\": {\n        \"reported\": {\n            \"lightLevel\": {{payload}}\n        }\n    }\n}","output":"json","x":630,"y":300,"wires":[["844ab700.53a1a8","4f67f205.2ea07c"]]},{"id":"2e3ba349.d6adcc","type":"rpi-gpio in","z":"306f272b.3ad9e8","name":"PIR","pin":"11","intype":"tri","debounce":"25","read":false,"x":100,"y":160,"wires":[["e3fd3632.f5d408"]]},{"id":"84d32cc9.0ea27","type":"template","z":"306f272b.3ad9e8","name":"Shadow JSON","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"state\": {\n        \"reported\": {\n            \"motion\": {{payload}}\n        }\n    }\n}","output":"json","x":420,"y":160,"wires":[["35ed16e6.1822ba","ed53ee64.1b9ba"]]},{"id":"e3fd3632.f5d408","type":"change","z":"306f272b.3ad9e8","name":"Debone","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":160,"wires":[["84d32cc9.0ea27","9980eb67.c34f18"]]},{"id":"35ed16e6.1822ba","type":"debug","z":"306f272b.3ad9e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":200,"wires":[]},{"id":"c430c2e9.6ba23","type":"inject","z":"306f272b.3ad9e8","name":"1","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["e3fd3632.f5d408"]]},{"id":"7e7c27ce.d796b8","type":"aws-mqtt in","z":"baef38c2.f31888","device":"5c2f38f2.eaec98","topic":"$aws/things/maystar/shadow/update/delta","x":210,"y":400,"wires":[["c78ae702.7ea6f8"]]},{"id":"345f5bc4.28d864","type":"change","z":"fb2a659e.48cdb8","name":"Cache: lightLevel","rules":[{"t":"set","p":"lightLevel","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":420,"wires":[[]]},{"id":"9980eb67.c34f18","type":"change","z":"306f272b.3ad9e8","name":"Cache: motion","rules":[{"t":"set","p":"motion","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":240,"wires":[[]]},{"id":"cffe9c61.5584a","type":"inject","z":"e607a00f.774a1","name":"On Start","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":280,"wires":[["e5d44b1.07010b8","e382d763.0f1538","839aab1c.5b2298","def27908.f46f68","13e2564e.42c29a","f195e252.f36ac"]]},{"id":"4015978f.919368","type":"template","z":"e607a00f.774a1","name":"Shadow JSON","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"state\": {\n        \"reported\": {\n            \"red\": {{payload}},\n            \"green\": {{payload}},\n            \"blue\": {{payload}},\n            \"motion\" {{global.motion}}\n        }\n    }\n}","output":"json","x":680,"y":480,"wires":[["8bd4015d.90f76"]]},{"id":"e5d44b1.07010b8","type":"change","z":"e607a00f.774a1","name":"Cache: RGB","rules":[{"t":"set","p":"red","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"green","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"blue","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":160,"wires":[[]]},{"id":"d54dd672.99ca48","type":"link in","z":"fb2a659e.48cdb8","name":"Trig: Light Level","links":["e382d763.0f1538"],"x":75,"y":480,"wires":[["f5760f71.ad81b"]]},{"id":"e382d763.0f1538","type":"link out","z":"e607a00f.774a1","name":"Trig: Light Level","links":["d54dd672.99ca48"],"x":355,"y":540,"wires":[]},{"id":"61501265.4e1bac","type":"change","z":"e607a00f.774a1","name":"Cache: motion","rules":[{"t":"set","p":"motion","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":480,"wires":[["4015978f.919368"]]},{"id":"839aab1c.5b2298","type":"switch","z":"e607a00f.774a1","name":"Define: motion","property":"motion","propertyType":"global","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":400,"wires":[["61501265.4e1bac"],["4015978f.919368"]]},{"id":"c78ae702.7ea6f8","type":"json","z":"baef38c2.f31888","name":"","property":"payload","action":"obj","pretty":false,"x":370,"y":400,"wires":[["a0059a89.b723c8"]]},{"id":"b6702939.761508","type":"rpi-gpio out","z":"7faa5f0d.12eb8","name":"Red","pin":"19","set":"","level":"0","freq":"","out":"pwm","x":670,"y":200,"wires":[]},{"id":"20828f6c.4818f","type":"rpi-gpio out","z":"7faa5f0d.12eb8","name":"Green","pin":"21","set":"","level":"0","freq":"","out":"pwm","x":670,"y":280,"wires":[]},{"id":"2eb4503e.2c16a","type":"rpi-gpio out","z":"7faa5f0d.12eb8","name":"Blue","pin":"23","set":"","level":"0","freq":"","out":"pwm","x":670,"y":360,"wires":[]},{"id":"998b6921.315c38","type":"link in","z":"7faa5f0d.12eb8","name":"GPIO: red","links":["def27908.f46f68","72eb5427.bbda3c"],"x":295,"y":200,"wires":[["a855c2d0.f1509"]]},{"id":"bc9e75a2.adaca8","type":"link in","z":"7faa5f0d.12eb8","name":"GPIO: green","links":["13e2564e.42c29a","6816a4dd.014c3c"],"x":295,"y":280,"wires":[["f8d1abd3.58e268"]]},{"id":"632037de.d49148","type":"link in","z":"7faa5f0d.12eb8","name":"GPIO: blue","links":["f195e252.f36ac","4179a68b.8c0b58"],"x":295,"y":360,"wires":[["6a1f7cce.12b224"]]},{"id":"def27908.f46f68","type":"link out","z":"e607a00f.774a1","name":"GPIO: red","links":["998b6921.315c38"],"x":355,"y":220,"wires":[]},{"id":"13e2564e.42c29a","type":"link out","z":"e607a00f.774a1","name":"GPIO: green","links":["bc9e75a2.adaca8"],"x":355,"y":280,"wires":[]},{"id":"f195e252.f36ac","type":"link out","z":"e607a00f.774a1","name":"GPIO: blue","links":["632037de.d49148"],"x":355,"y":340,"wires":[]},{"id":"72eb5427.bbda3c","type":"link out","z":"baef38c2.f31888","name":"GPIO: red","links":["998b6921.315c38"],"x":795,"y":300,"wires":[]},{"id":"6816a4dd.014c3c","type":"link out","z":"baef38c2.f31888","name":"GPIO: green","links":["bc9e75a2.adaca8"],"x":795,"y":360,"wires":[]},{"id":"4179a68b.8c0b58","type":"link out","z":"baef38c2.f31888","name":"GPIO: blue","links":["632037de.d49148"],"x":795,"y":420,"wires":[]},{"id":"42510ce9.6ca674","type":"aws-mqtt out","z":"1f4030a3.397f0f","device":"5c2f38f2.eaec98","topic":"$aws/things/maystar/shadow/update","qos":"1","x":700,"y":200,"wires":[]},{"id":"7b81ed6b.3c04b4","type":"link in","z":"1f4030a3.397f0f","name":"MQTT: update","links":["4f67f205.2ea07c","ed53ee64.1b9ba","741eba1f.bb2a94","8bd4015d.90f76"],"x":255,"y":200,"wires":[["71fa60db.3886c"]]},{"id":"4f67f205.2ea07c","type":"link out","z":"fb2a659e.48cdb8","name":"","links":["7b81ed6b.3c04b4"],"x":795,"y":260,"wires":[]},{"id":"ed53ee64.1b9ba","type":"link out","z":"306f272b.3ad9e8","name":"","links":["7b81ed6b.3c04b4"],"x":555,"y":120,"wires":[]},{"id":"741eba1f.bb2a94","type":"link out","z":"baef38c2.f31888","name":"","links":["7b81ed6b.3c04b4"],"x":995,"y":480,"wires":[]},{"id":"8bd4015d.90f76","type":"link out","z":"e607a00f.774a1","name":"MQTT: update","links":["7b81ed6b.3c04b4"],"x":835,"y":480,"wires":[],"inputLabels":["MQTT"]},{"id":"f28c8609.94c8c8","type":"json","z":"1f4030a3.397f0f","name":"","property":"payload","action":"str","pretty":false,"x":530,"y":200,"wires":[["42510ce9.6ca674","8104cc5e.3f65"]]},{"id":"8104cc5e.3f65","type":"debug","z":"1f4030a3.397f0f","name":"Debug MQTT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":280,"wires":[]},{"id":"71fa60db.3886c","type":"change","z":"1f4030a3.397f0f","name":"Set MQTT Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"$aws/things/maystar/shadow/update","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":200,"wires":[["f28c8609.94c8c8"]]},{"id":"a855c2d0.f1509","type":"function","z":"7faa5f0d.12eb8","name":"Denormalize","func":"//node.log(\"denormalize() starting ..\")\nmsg.payload = Number(msg.payload);\n//node.log(\"denormalize(): payload: \" + msg.payload)\nmsg.payload = Math.abs(msg.payload);\nif (msg.payload > 100.0) {\n    msg.payload = 100.0;\n}\n//node.log(\"denormalize(): limit: payload: \" + msg.payload)\nmsg.payload = Math.pow((msg.payload / 10.0), 2);\nnode.log(\"denormalize(): scale: payload: \" + msg.payload)\nmsg.payload = 100 - (msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["b6702939.761508"]]},{"id":"f8d1abd3.58e268","type":"function","z":"7faa5f0d.12eb8","name":"Denormalize","func":"//node.log(\"denormalize() starting ..\")\nmsg.payload = Number(msg.payload);\n//node.log(\"denormalize(): payload: \" + msg.payload)\nmsg.payload = Math.abs(msg.payload);\nif (msg.payload > 100.0) {\n    msg.payload = 100.0;\n}\n//node.log(\"denormalize(): limit: payload: \" + msg.payload)\nmsg.payload = Math.pow((msg.payload / 10.0), 2);\nnode.log(\"denormalize(): scale: payload: \" + msg.payload)\nmsg.payload = 100 - (msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":280,"wires":[["20828f6c.4818f"]]},{"id":"6a1f7cce.12b224","type":"function","z":"7faa5f0d.12eb8","name":"Denormalize","func":"msg.payload = Number(msg.payload);\nmsg.payload = Math.abs(msg.payload);\nif (msg.payload > 10.0) {\n    msg.payload = 10.0;\n}\nmsg.payload = Math.pow((msg.payload / 10.0), 2);\nmsg.payload = 100 - (msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":360,"wires":[["2eb4503e.2c16a"]]},{"id":"a0059a89.b723c8","type":"function","z":"baef38c2.f31888","name":"DMUX","func":"node.log(\"demux() starting\");\nvar state = msg.payload.state;\n\n// IoT feedback for post-change state\nvar update = {\n    \"payload\": {\n        \"state\":{\n            \"reported\":{\n            },\n            \"desired\": null\n        }\n    }\n};\n\n// Default output to null to preempt sending message if not needed\nvar red = {\"payload\": null}\nvar green = {\"payload\": null}\nvar blue = {\"payload\": null};\n\n// Node output structure\nvar out = [red, green, blue, update];\n\nif (state.red) {\n    state.red = Math.abs(state.red);\n    state.red = (state.red > 100) ? 100 : state.red;\n    update.payload.state.reported.red = state.red;\n    red.payload = state.red;\n    global.set(\"red\", state.red);\n    node.log(\"demux(): red: \" + red);\n}\nif (state.green) {\n    state.green = Math.abs(state.green);\n    state.green = (state.green > 100) ? 100 : state.green;\n    update.payload.state.reported.green = state.green;\n    green.payload = state.green;\n    global.set(\"green\", state.green);\n    node.log(\"demux(): green: \" + green);\n}\nif (state.blue) {\n    state.blue = Math.abs(state.blue);\n    state.blue = (state.blue > 100) ? 100 : state.blue;\n    update.payload.state.reported.blue = state.blue;\n    blue.payload = state.blue;\n    global.set(\"blue\", state.blue);\n    node.log(\"demux(): blue: \" + blue);\n}\nreturn out;","outputs":4,"noerr":0,"x":530,"y":400,"wires":[["72eb5427.bbda3c"],["6816a4dd.014c3c"],["4179a68b.8c0b58"],["bbd415b9.ab0598"]]},{"id":"bbd415b9.ab0598","type":"json","z":"baef38c2.f31888","name":"DMUX JSON","property":"payload","action":"str","pretty":false,"x":850,"y":480,"wires":[["741eba1f.bb2a94"]]},{"id":"b616b9dc.d4a068","type":"inject","z":"baef38c2.f31888","name":"","topic":"","payload":"{\"state\":{\"red\":2,\"blue\":42}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":480,"wires":[["c78ae702.7ea6f8"]]}]