flow.json
[{"id":"fb2a659e.48cdb8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f5760f71.ad81b","type":"ads1x15","z":"fb2a659e.48cdb8","name":"Float","chip":"1","address":72,"i2c_dev":"/dev/i2c-1","channel":"0","samplesPerSecond":"128","progGainAmp":"4096","x":390,"y":280,"wires":[["90250222.201b2"]],"outputLabels":["float"]},{"id":"844ab700.53a1a8","type":"debug","z":"fb2a659e.48cdb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1070,"y":360,"wires":[]},{"id":"9af03b6.bcadfc8","type":"inject","z":"fb2a659e.48cdb8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":300,"wires":[["f5760f71.ad81b"]]},{"id":"5516a8db.c58398","type":"smooth","z":"fb2a659e.48cdb8","name":"","property":"payload","action":"low","count":"10","round":"0","mult":"single","x":640,"y":460,"wires":[["c95abea9.19129"]]},{"id":"90250222.201b2","type":"function","z":"fb2a659e.48cdb8","name":"Normalize","func":"var i = msg.payload / 42.0;\nmsg.payload = Math.round(i);\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":460,"wires":[["5516a8db.c58398"]]},{"id":"c95abea9.19129","type":"rbe","z":"fb2a659e.48cdb8","name":"","func":"deadbandEq","gap":"5%","start":"","inout":"out","property":"payload","x":850,"y":420,"wires":[["844ab700.53a1a8","c355ae43.7df18"]]},{"id":"c355ae43.7df18","type":"file","z":"fb2a659e.48cdb8","name":"","filename":"/tmp/light_level","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1090,"y":460,"wires":[[]]}]